"1024x768" = "1024×768";
"16:10" = "16:10";
"16:10 Display Stretch" = "16:10 Display Stretch";
"16:9" = "16:9";
"16:9 Display Stretch" = "16:9 Display Stretch";
"640x480" = "640×480";
"800x600" = "800×600";
"Aspect Adjust" = "Aspect Adjust";
"Display Out" = "Display Out";
"Enabled" = "Enabled";
"Follow Interface" = "Follow Interface";
"Follow SpringBoard" = "Follow SpringBoard";
"Landscape Left" = "Landscape Left";
"Landscape Right" = "Landscape Right";
"Large" = "Large";
"Max Screen Resolution" = "Max Screen Resolution";
"Medium" = "Medium";
"Orientation" = "Orientation";
"Portrait" = "Portrait";
"Preserve" = "Preserve";
"Scale" = "Scale";
"Show Taps" = "Show Taps";
"Small" = "Small";
"Tap Size" = "Tap Size";
"Upside-Down" = "Upside-Down";