"1024x768" = "1024×768";
"16:10" = "16:10";
"16:10 Display Stretch" = "16:10 拉伸";
"16:9" = "16:9";
"16:9 Display Stretch" = "16:9 拉伸";
"640x480" = "640×480";
"800x600" = "800×600";
"Aspect Adjust" = "縱橫比例調整";
"Display Out" = "顯示輸出";
"Enabled" = "啟用";
"Follow Interface" = "根據介面";
"Follow SpringBoard" = "根據 SpringBoard";
"Landscape Left" = "橫向左";
"Landscape Right" = "橫向右";
"Large" = "大";
"Max Screen Resolution" = "螢幕最大解析度";
"Medium" = "中";
"Orientation" = "顯示方向";
"Portrait" = "豎直";
"Preserve" = "保留";
"Scale" = "縮放";
"Show Taps" = "顯示標籤";
"Small" = "小";
"Tap Size" = "標籤大小";
"Upside-Down" = "倒置";